In [2]:

import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
from wordcloud import WordCloud

%matplotlib inline
sns.set_style('darkgrid')
mpl.rcParams['font.size'] = 14
mpl.rcParams['figure.facecolor'] = '#00000000'
mpl.rcParams['font.size'] = 14
mpl.rcParams['figure.facecolor'] = '#00000000'

import os
from wordcloud import WordCloud

import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv("updated_case1.csv")

df.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,Loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m21,m21_delay,m22,m22_delay,m23,m23_delay,m24,m24_delay,m25,m25_delay
0,8.110000e+11,Y,Browning-Hart,3.750,192000,18,01-02-2012,Apr-12,80,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.220000e+11,X,OTHER,4.250,308000,6,01-02-2012,Apr-12,95,1,...,0.0,15.0,0.0,16.0,0.0,15.0,1.0,NaN,1.0,NaN
2,7.800000e+11,Y,Edwards-Hoffman,4.500,80000,12,01-01-2012,Mar-12,73,1,...,1.0,NaN,0.0,6.0,0.0,5.0,0.0,16.0,0.0,19.0
3,6.690000e+11,X,OTHER,3.125,60000,36,01-02-2012,Apr-12,33,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.940000e+11,X,OTHER,3.375,195000,36,01-01-2012,Mar-12,75,1,...,1.0,NaN,0.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN

EDA

In [3]:
df = df.iloc[:, :df.columns.get_loc('m8') + 1]

In [4]:
df

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,Loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m3_delay,m4,m4_delay,m5,m5_delay,m6,m6_delay,m7,m7_delay,m8
0,8.110000e+11,Y,Browning-Hart,3.750,192000,18,01-02-2012,Apr-12,80,2,...,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,0.0
1,7.220000e+11,X,OTHER,4.250,308000,6,01-02-2012,Apr-12,95,1,...,13.0,1.0,NaN,0.0,8.0,1.0,NaN,1.0,NaN,1.0
2,7.800000e+11,Y,Edwards-Hoffman,4.500,80000,12,01-01-2012,Mar-12,73,1,...,NaN,0.0,20.0,0.0,18.0,0.0,19.0,1.0,NaN,1.0
3,6.690000e+11,X,OTHER,3.125,60000,36,01-02-2012,Apr-12,33,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.940000e+11,X,OTHER,3.375,195000,36,01-01-2012,Mar-12,75,1,...,7.0,0.0,7.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116053,6.730000e+11,Y,"Cole, Brooks and Vincent",3.750,147000,6,01-01-2012,Mar-12,70,2,...,NaN,1.0,NaN,1.0,NaN,0.0,14.0,1.0,NaN,1.0
116054,1.060000e+11,X,OTHER,3.875,64000,24,01-01-2012,Mar-12,46,1,...,NaN,0.0,15.0,1.0,NaN,1.0,NaN,0.0,6.0,1.0
116055,7.540000e+11,X,OTHER,3.125,300000,30,01-02-2012,Apr-12,52,2,...,NaN,0.0,14.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0
116056,7.330000e+11,X,OTHER,3.875,106000,18,01-02-2012,Apr-12,26,2,...,NaN,1.0,NaN,1.0,NaN,1.0,NaN,0.0,10.0,0.0
116057,1.170000e+11,X,"Swanson, Newton and Miller",5.375,86000,18,01-01-2012,Mar-12,75,1,...,18.0,1.0,NaN,1.0,NaN,1.0,NaN,0.0,15.0,1.0

In [5]:
if 'Annual Income' in df.columns:
    print("The column 'annual income' exists in the DataFrame.")
else:
    print("The column 'annual income' does NOT exist in the DataFrame.")

The column 'annual income' exists in the DataFrame.

In [6]:
df['Annual Income'].head()

0    6620.689655
1    9058.823529
2    1951.219512
3    3333.333333
4    7800.000000
Name: Annual Income, dtype: float64

In [7]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
print(df.head())

        loan_id source financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type         Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8
0  8.110000e+11      Y         Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0  Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1       NaN  1.0       NaN  1.0       NaN  1.0       NaN  1.0       NaN  1.0       NaN  0.0
1  7.220000e+11      X                 OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0         Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529             24   0      15.0   1       NaN  0.0      13.0  1.0       NaN  0.0       8.0  1.0       NaN  1.0       NaN  1.0
2  7.800000e+11      Y       Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0      OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512             24   0       5.0   1       NaN  1.0       NaN  0.0      20.0  0.0      18.0  0.0      19.0  1.0       NaN  1.0
3  6.690000e+11      X                 OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0   Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1       NaN  NaN       NaN  NaN       NaN  NaN       NaN  NaN       NaN  NaN       NaN  NaN
4  3.940000e+11      X                 OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0            Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000             21   1       NaN   0      18.0  0.0       7.0  0.0       7.0  1.0       NaN  1.0       NaN  1.0       NaN  1.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116058 entries, 0 to 116057
Data columns (total 41 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   loan_id                   116058 non-null  float64
 1   source                    116058 non-null  object
 2   financial_institution     116058 non-null  object
 3   interest_rate             116058 non-null  float64
 4   unpaid_principal_bal      116058 non-null  int64
 5   Loan_term                 116058 non-null  int64
 6   origination_date          116058 non-null  object
 7   first_payment_date        116058 non-null  object
 8   loan_to_value             116058 non-null  int64
 9   number_of_borrowers       116058 non-null  int64
 10  debt_to_income_ratio      116058 non-null  int64
 11  borrower_credit_score     116058 non-null  int64
 12  loan_purpose              116058 non-null  object
 13  insurance_percent         116058 non-null  int64
 14  co-borrower_credit_score  116058 non-null  int64
 15  insurance_type            116058 non-null  int64
 16  Occupation                116058 non-null  object
 17  Borrower_State            116058 non-null  object
 18  EducationLevel            116058 non-null  object
 19  MaritalStatus             116058 non-null  object
 20  Age                       116058 non-null  int64
 21  Gender                    116058 non-null  object
 22  EmploymentStatus          116058 non-null  object
 23  NumberOfDependents        116058 non-null  int64
 24  Annual Income             116058 non-null  float64
 25  current_month             116058 non-null  int64
 26  m1                        116058 non-null  int64
 27  m1_delay                  81241 non-null   float64
 28  m2                        116058 non-null  int64
 29  m2_delay                  34865 non-null   float64
 30  m3                        111326 non-null  float64
 31  m3_delay                  33394 non-null   float64
 32  m4                        106739 non-null  float64
 33  m4_delay                  31923 non-null   float64
 34  m5                        102137 non-null  float64
 35  m5_delay                  30710 non-null   float64
 36  m6                        97472 non-null   float64
 37  m6_delay                  29026 non-null   float64
 38  m7                        92805 non-null   float64
 39  m7_delay                  25097 non-null   float64
 40  m8                        88085 non-null   float64
dtypes: float64(16), int64(14), object(11)
memory usage: 36.3+ MB

In [9]:
print(df.shape)

(116058, 41)

In [10]:
df = df.fillna(-1)

In [11]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529             24   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512             24   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000             21   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091             18   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000             17   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330             12   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140             20   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000             24   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0

[116058 rows x 41 columns]

In [12]:
print(df.isnull().sum())

loan_id                     0
source                      0
financial_institution       0
interest_rate               0
unpaid_principal_bal        0
Loan_term                   0
origination_date            0
first_payment_date          0
loan_to_value               0
number_of_borrowers         0
debt_to_income_ratio        0
borrower_credit_score       0
loan_purpose                0
insurance_percent           0
co-borrower_credit_score    0
insurance_type              0
Occupation                  0
Borrower_State              0
EducationLevel              0
MaritalStatus               0
Age                         0
Gender                      0
EmploymentStatus            0
NumberOfDependents          0
Annual Income               0
current_month               0
m1                          0
m1_delay                    0
m2                          0
m2_delay                    0
m3                          0
m3_delay                    0
m4                          0
m4_delay                    0
m5                          0
m5_delay                    0
m6                          0
m6_delay                    0
m7                          0
m7_delay                    0
m8                          0
dtype: int64

In [13]:
import pandas as pd

duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [loan_id, source, financial_institution, interest_rate, unpaid_principal_bal, Loan_term, origination_date, first_payment_date, loan_to_value, number_of_borrowers, debt_to_income_ratio, borrower_credit_score, loan_purpose, insurance_percent, co-borrower_credit_score, insurance_type, Occupation , Borrower_State, EducationLevel, MaritalStatus, Age, Gender, EmploymentStatus, NumberOfDependents, Annual Income, current_month, m1, m1_delay, m2, m2_delay, m3, m3_delay, m4, m4_delay, m5, m5_delay, m6, m6_delay, m7, m7_delay, m8]
Index: []

In [14]:
unique_genders = df['m1_delay'].unique()
print(unique_genders)

[19. 15.  5. -1.  7. 16. 17. 20.  6. 13.  8. 11. 14. 18. 10.  9. 12.]

In [15]:
df_copy = df.copy()

In [16]:
df_copy = df_copy.drop(df_copy[df_copy['Age'] >= 80].index, axis=0)

In [17]:
df_copy.shape

(116009, 41)

In [18]:
data = df_copy.copy()

In [19]:
print(df_copy.columns.tolist())

['loan_id', 'source', 'financial_institution', 'interest_rate', 'unpaid_principal_bal', 'Loan_term', 'origination_date', 'first_payment_date', 'loan_to_value', 'number_of_borrowers', 'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose', 'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'Occupation ', 'Borrower_State', 'EducationLevel', 'MaritalStatus', 'Age', 'Gender', 'EmploymentStatus', 'NumberOfDependents', 'Annual Income', 'current_month', 'm1', 'm1_delay', 'm2', 'm2_delay', 'm3', 'm3_delay', 'm4', 'm4_delay', 'm5', 'm5_delay', 'm6', 'm6_delay', 'm7', 'm7_delay', 'm8']

In [20]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529             24   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512             24   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000             21   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091             18   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000             17   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330             12   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140             20   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000             24   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0

[116058 rows x 41 columns]

In [21]:
import numpy as np
mask = ~df['current_month'].between(0, 7)
random_values = np.random.randint(0, 8, size=mask.sum())

df.loc[mask, 'current_month'] = random_values

In [22]:
df.to_csv('updated_case1_cleaned.csv', index=False)

In [23]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529              5   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512              3   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000              0   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091              4   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000              3   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330              2   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140              5   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000              3   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0

[116058 rows x 41 columns]

In [24]:
unique_counts = df['current_month'].value_counts()

print(unique_counts)

current_month
0    14685
6    14567
3    14559
4    14529
1    14455
5    14437
2    14430
7    14396
Name: count, dtype: int64

In [25]:
df['target'] = 'm' + (df['current_month'] + 1).astype(str)
print(df['target'].head(), df['current_month'].head())

0    m8
1    m6
2    m4
3    m1
4    m1
Name: target, dtype: object 0    7
1    5
2    3
3    0
4    0
Name: current_month, dtype: int64

In [26]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8 target
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0     m8
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529              5   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0     m6
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512              3   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0     m4
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0     m1
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000              0   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m1
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...    ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091              4   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0     m5
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000              3   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0     m4
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330              2   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m3
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140              5   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0     m6
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000              3   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0     m4

[116058 rows x 42 columns]

In [27]:
df['label'] = df.apply(lambda row: row[row['target']], axis=1)

In [28]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8 target  label
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0     m8    0.0
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529              5   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0     m6    1.0
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512              3   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0     m4    0.0
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0     m1    0.0
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000              0   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m1    1.0
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...    ...    ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091              4   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0     m5    1.0
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000              3   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0     m4    0.0
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330              2   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m3    1.0
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140              5   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0     m6    1.0
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000              3   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0     m4    1.0

[116058 rows x 43 columns]

In [29]:
df['label'] = df.apply(lambda row: row[row['target']], axis=1)

In [30]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8 target  label
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0     m8    0.0
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529              5   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0     m6    1.0
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512              3   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0     m4    0.0
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0     m1    0.0
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000              0   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m1    1.0
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...    ...    ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091              4   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0     m5    1.0
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000              3   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0     m4    0.0
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330              2   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m3    1.0
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140              5   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0     m6    1.0
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000              3   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0     m4    1.0

[116058 rows x 43 columns]

In [31]:
df_copy = df.copy()

Adding -1 to future column based on current_month

In [32]:
import pandas as pd
demographic_features = [
    'interest_rate', 'unpaid_principal_bal', 'Loan_term', 'loan_to_value',
    'number_of_borrowers', 'debt_to_income_ratio', 'borrower_credit_score',
    'co-borrower_credit_score', 'insurance_percent', 'insurance_type', 'loan_purpose',
    'EducationLevel', 'MaritalStatus', 'Age', 'Gender', 'EmploymentStatus',
    'NumberOfDependents', 'Annual Income'
]
new_rows = []

for _, row in df_copy.iterrows():
    cm = int(row['current_month'])
    features = {}
    for col in demographic_features:
        features[col] = row[col]
    for i in range(1, cm + 1):
        features[f"m{i}"] = row.get(f"m{i}", -1)
        if i <= 7:
            features[f"m{i}_delay"] = row.get(f"m{i}_delay", -1)
    for i in range(cm + 1, 9):
        features[f"m{i}"] = -1
        if i <= 7:
            features[f"m{i}_delay"] = -1
    target_col = f"m{cm + 1}"
    features['target'] = row.get(target_col, -1)
    features['loan_id'] = row['loan_id']
    features['label'] = row['label']

    new_rows.append(features)

train_df = pd.DataFrame(new_rows)

In [33]:
train_df

        interest_rate  unpaid_principal_bal  Loan_term  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score  co-borrower_credit_score  insurance_percent  insurance_type loan_purpose EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay  m8  target       loan_id  label
0               3.750                192000         18             80                    2                    29                    809                       812                  0               0          C86     Bachelor's       Married   51  Female         Employed                   2    6620.689655   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  -1     0.0  8.110000e+11    0.0
1               4.250                308000          6             95                    1                    34                    712                         0                 30               0          A23            PhD       Married   43    Male         Employed                   1    9058.823529   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0 -1.0      -1.0 -1.0      -1.0  -1     1.0  7.220000e+11    1.0
2               4.500                 80000         12             73                    1                    41                    690                         0                  0               0          C86    High School       Married   18    Male         Employed                   2    1951.219512   0       5.0   1      -1.0  1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     0.0  7.800000e+11    0.0
3               3.125                 60000         36             33                    1                    18                    814                         0                  0               0          C86            PhD      Divorced   34  Female         Employed                   1    3333.333333  -1      -1.0  -1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     0.0  6.690000e+11    0.0
4               3.375                195000         36             75                    1                    25                    797                         0                  0               0          B12    High School        Single   65  Female         Employed                   1    7800.000000  -1      -1.0  -1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     1.0  3.940000e+11    1.0
...               ...                   ...        ...            ...                  ...                   ...                    ...                       ...                ...             ...          ...            ...           ...  ...     ...              ...                 ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ..     ...           ...    ...
116053          3.750                147000          6             70                    2                    44                    814                       807                  0               0          C86    High School        Single   51  Female         Employed                   0    3340.909091   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     1.0  6.730000e+11    1.0
116054          3.875                 64000         24             46                    1                    16                    805                         0                  0               0          B12    High School      Divorced   37    Male         Employed                   1    4000.000000   0       9.0   1      -1.0  1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     0.0  1.060000e+11    0.0
116055          3.125                300000         30             52                    2                     9                    785                       794                  0               0          A23            PhD       Married   29  Female         Employed                   0   33333.333330   1      -1.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     1.0  7.540000e+11    1.0
116056          3.875                106000         18             26                    2                     7                    803                       814                  0               0          A23    High School        Single   29    Male         Employed                   2   15142.857140   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     1.0  7.330000e+11    1.0
116057          5.375                 86000         18             75                    1                    25                    714                         0                  0               0          B12     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000   0      14.0   1      -1.0  0.0      18.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0  -1     1.0  1.170000e+11    1.0

[116058 rows x 36 columns]

In [34]:
df

             loan_id source       financial_institution  interest_rate  unpaid_principal_bal  Loan_term origination_date first_payment_date  loan_to_value  number_of_borrowers  debt_to_income_ratio  borrower_credit_score loan_purpose  insurance_percent  co-borrower_credit_score  insurance_type          Occupation  Borrower_State EducationLevel MaritalStatus  Age  Gender EmploymentStatus  NumberOfDependents  Annual Income  current_month  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay   m8 target  label
0       8.110000e+11      Y               Browning-Hart          3.750                192000         18       01-02-2012             Apr-12             80                    2                    29                    809          C86                  0                       812               0   Assistant Engineer             PA     Bachelor's       Married   51  Female         Employed                   2    6620.689655              7   0      19.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0     m8    0.0
1       7.220000e+11      X                       OTHER          4.250                308000          6       01-02-2012             Apr-12             95                    1                    34                    712          A23                 30                         0               0          Team Member             CO            PhD       Married   43    Male         Employed                   1    9058.823529              5   0      15.0   1      -1.0  0.0      13.0  1.0      -1.0  0.0       8.0  1.0      -1.0  1.0      -1.0  1.0     m6    1.0
2       7.800000e+11      Y             Edwards-Hoffman          4.500                 80000         12       01-01-2012             Mar-12             73                    1                    41                    690          C86                  0                         0               0       OPERATIONS MGR             MS    High School       Married   18    Male         Employed                   2    1951.219512              3   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      18.0  0.0      19.0  1.0      -1.0  1.0     m4    0.0
3       6.690000e+11      X                       OTHER          3.125                 60000         36       01-02-2012             Apr-12             33                    1                    18                    814          C86                  0                         0               0    Quality Assurance             TX            PhD      Divorced   34  Female         Employed                   1    3333.333333              0   0       5.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0     m1    0.0
4       3.940000e+11      X                       OTHER          3.375                195000         36       01-01-2012             Mar-12             75                    1                    25                    797          B12                  0                         0               0             Mechanic             MN    High School        Single   65  Female         Employed                   1    7800.000000              0   1      -1.0   0      18.0  0.0       7.0  0.0       7.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m1    1.0
...              ...    ...                         ...            ...                   ...        ...              ...                ...            ...                  ...                   ...                    ...          ...                ...                       ...             ...                  ...            ...            ...           ...  ...     ...              ...                 ...            ...            ...  ..       ...  ..       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...       ...  ...    ...    ...
116053  6.730000e+11      Y    Cole, Brooks and Vincent          3.750                147000          6       01-01-2012             Mar-12             70                    2                    44                    814          C86                  0                       807               0    General Engineer              TN    High School        Single   51  Female         Employed                   0    3340.909091              4   0      14.0   1      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0     m5    1.0
116054  1.060000e+11      X                       OTHER          3.875                 64000         24       01-01-2012             Mar-12             46                    1                    16                    805          B12                  0                         0               0           Accountant             NY    High School      Divorced   37    Male         Employed                   1    4000.000000              3   0       9.0   1      -1.0  1.0      -1.0  0.0      15.0  1.0      -1.0  1.0      -1.0  0.0       6.0  1.0     m4    0.0
116055  7.540000e+11      X                       OTHER          3.125                300000         30       01-02-2012             Apr-12             52                    2                     9                    785          A23                  0                       794               0  electrical mechanic             CA            PhD       Married   29  Female         Employed                   0   33333.333330              2   1      -1.0   1      -1.0  1.0      -1.0  0.0      14.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0     m3    1.0
116056  7.330000e+11      X                       OTHER          3.875                106000         18       01-02-2012             Apr-12             26                    2                     7                    803          A23                  0                       814               0           Management             VA    High School        Single   29    Male         Employed                   2   15142.857140              5   0      11.0   0      13.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      10.0  0.0     m6    1.0
116057  1.170000e+11      X  Swanson, Newton and Miller          5.375                 86000         18       01-01-2012             Mar-12             75                    1                    25                    714          B12                  0                         0               0     Scoring Director             MN     Bachelor's       Married   28  Female    Self-Employed                   1    3440.000000              3   0      14.0   1      -1.0  0.0      18.0  1.0      -1.0  1.0      -1.0  1.0      -1.0  0.0      15.0  1.0     m4    1.0

[116058 rows x 43 columns]

In [35]:
for col, dtype in df.dtypes.items():
    print(f"{col}: {dtype}")

loan_id: float64
source: object
financial_institution: object
interest_rate: float64
unpaid_principal_bal: int64
Loan_term: int64
origination_date: object
first_payment_date: object
loan_to_value: int64
number_of_borrowers: int64
debt_to_income_ratio: int64
borrower_credit_score: int64
loan_purpose: object
insurance_percent: int64
co-borrower_credit_score: int64
insurance_type: int64
Occupation : object
Borrower_State: object
EducationLevel: object
MaritalStatus: object
Age: int64
Gender: object
EmploymentStatus: object
NumberOfDependents: int64
Annual Income: float64
current_month: int64
m1: int64
m1_delay: float64
m2: int64
m2_delay: float64
m3: float64
m3_delay: float64
m4: float64
m4_delay: float64
m5: float64
m5_delay: float64
m6: float64
m6_delay: float64
m7: float64
m7_delay: float64
m8: float64
target: object
label: float64

In [36]:
drop_columns = [
    'loan_id',
    'source',
    'financial_institution',
    'origination_date',
    'first_payment_date',
    'Occupation ',        
    'Borrower_State',
    'label',
    'target'
]
scale_cols = [
    'interest_rate',
    'unpaid_principal_bal',
    'Loan_term',
    'loan_to_value',
    'number_of_borrowers',
    'debt_to_income_ratio',
    'borrower_credit_score',
    'co-borrower_credit_score',
    'insurance_percent',
    'Age',
    'NumberOfDependents',
    'Annual Income'
]

ohe_columns = [
    'insurance_type',
    'loan_purpose',
    'EducationLevel',
    'MaritalStatus',
    'Gender',
    'EmploymentStatus'
]
le_columns = [
   
]

month_cols = [f"m{i}" for i in range(1, 9)]
delay_cols = [f"m{i}_delay" for i in range(1, 8)]

In [37]:
data = df.copy()

In [38]:
data = data.drop(drop_columns, axis=1)

In [39]:
data.columns

Index(['interest_rate', 'unpaid_principal_bal', 'Loan_term', 'loan_to_value', 'number_of_borrowers', 'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose', 'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'EducationLevel', 'MaritalStatus', 'Age', 'Gender', 'EmploymentStatus', 'NumberOfDependents', 'Annual Income', 'current_month', 'm1', 'm1_delay', 'm2', 'm2_delay', 'm3', 'm3_delay', 'm4', 'm4_delay', 'm5', 'm5_delay', 'm6', 'm6_delay', 'm7', 'm7_delay', 'm8'], dtype='object')

In [40]:
data.isnull().sum().sum()

0

Selecting Target feature based on current_month as it will be dynamic, therefore we have used for loop till total unique values in  current_month value

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Define the function
def get_X_y_for_month(df, current_month):
    df = df.copy()

    demographic_features = [
        'interest_rate', 'unpaid_principal_bal', 'Loan_term', 'loan_to_value',
        'number_of_borrowers', 'debt_to_income_ratio', 'borrower_credit_score',
        'co-borrower_credit_score', 'insurance_percent', 'insurance_type',
        'loan_purpose', 'EducationLevel', 'MaritalStatus', 'Age',
        'Gender', 'EmploymentStatus', 'NumberOfDependents', 'Annual Income'
    ]

    month_features = [f"m{i}" for i in range(1, 8)]
    delay_features = [f"m{i}_delay" for i in range(1, 8)]
    features = demographic_features + month_features + delay_features

    target_col = f"m{current_month + 1}"
    for col in features:
        if col not in df.columns:
            df[col] = np.nan

    X = df[features]
    y = df[target_col] if target_col in df.columns else pd.Series([np.nan] * len(df), index=df.index)

    return X, y, features

In [ ]:
all_X_train, all_X_test = [], []
all_y_train, all_y_test = [], []

all_feature_set = set()

for month in sorted(data['current_month'].unique()):
    _, _, features = get_X_y_for_month(data[data['current_month'] == month], month)
    all_feature_set.update(features)

all_features = sorted(all_feature_set)

for month in sorted(data['current_month'].unique()):
    print(f"\nProcessing current_month = {month}")
    
    X, y, _ = get_X_y_for_month(data[data['current_month'] == month], current_month=month)

    for col in all_features:
        if col not in X.columns:
            X[col] = np.nan
    X = X[all_features]

    valid_idx = y.notna()
    X = X.loc[valid_idx]
    y = y.loc[valid_idx]

    if len(y) == 0:
        continue

    class_counts = y.value_counts()
    stratify_param = y if (class_counts >= 2).all() else None

    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=12, stratify=stratify_param
    )

    all_X_train.append(X_train)
    all_X_test.append(X_test)
    all_y_train.append(y_train)
    all_y_test.append(y_test)

Processing current_month = 0

Processing current_month = 1

Processing current_month = 2

Processing current_month = 3

Processing current_month = 4

Processing current_month = 5

Processing current_month = 6

Processing current_month = 7

In [43]:
X_train_final = pd.concat(all_X_train, ignore_index=True)
X_test_final = pd.concat(all_X_test, ignore_index=True)
y_train_final = pd.concat(all_y_train, ignore_index=True)
y_test_final = pd.concat(all_y_test, ignore_index=True)

In [ ]:
print("\n Final Shapes:")
print("X_train:", X_train_final.shape)
print("X_test :", X_test_final.shape)
print("y_train:", y_train_final.shape)
print("y_test :", y_test_final.shape)

print("\n NaN Check:")
print("NaNs in X_train_final:", X_train_final.isnull().sum().sum())
print("NaNs in X_test_final :", X_test_final.isnull().sum().sum())
print("NaNs in y_train_final:", y_train_final.isnull().sum())
print("NaNs in y_test_final :", y_test_final.isnull().sum())

 Final Shapes:
X_train: (81237, 32)
X_test : (34821, 32)
y_train: (81237,)
y_test : (34821,)

 NaN Check:
NaNs in X_train_final: 0
NaNs in X_test_final : 0
NaNs in y_train_final: 0
NaNs in y_test_final : 0

In [45]:
print(X_train_final.isnull().sum().sort_values(ascending=False).head(20))

Age                    0
Annual Income          0
number_of_borrowers    0
m7_delay               0
m7                     0
m6_delay               0
m6                     0
m5_delay               0
m5                     0
m4_delay               0
m4                     0
m3_delay               0
m3                     0
m2_delay               0
m2                     0
m1_delay               0
m1                     0
loan_to_value          0
loan_purpose           0
interest_rate          0
dtype: int64

In [46]:
X_train_final.head()

   Age  Annual Income EducationLevel EmploymentStatus  Gender  Loan_term MaritalStatus  NumberOfDependents  borrower_credit_score  co-borrower_credit_score  debt_to_income_ratio  insurance_percent  insurance_type  interest_rate loan_purpose  loan_to_value  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay  number_of_borrowers  unpaid_principal_bal
0   34    9565.217391     Bachelor's         Employed    Male         12       Married                   1                    795                         0                    23                  0               0          3.750          A23             74   0      12.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    1                220000
1   45   22555.555560      Doctorate         Employed  Female         36       Married                   1                    766                       800                    18                  0               0          3.750          A23             56   0      14.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    2                406000
2   37    7307.692308            PhD         Employed    Male         18        Single                   2                    791                       798                    39                  0               0          4.375          C86             75   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      14.0  1.0      -1.0  1.0      -1.0                    2                285000
3   55    4733.333333       Master's    Self-Employed  Female          6       Married                   0                    683                         0                    30                  0               0          4.500          A23             52   0       8.0   0      14.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    1                142000
4   18   14740.740740            PhD         Employed  Female         12       Married                   1                    803                         0                    27                  0               0          4.125          A23             40   1      -1.0   0      15.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    1                398000

In [47]:
X_train_final = X_train_final.fillna(-1)
X_test_final = X_test_final.fillna(-1)

In [48]:
print(X_train_final.shape, X_test_final.shape)

(81237, 32) (34821, 32)

In [49]:
X_train_final.isnull().sum().sum()

0

In [50]:
print("Final train shape:", X_train_final.shape)
print("Final test shape:", X_test_final.shape)

Final train shape: (81237, 32)
Final test shape: (34821, 32)

One-Hot Encoding

In [51]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

ohe.fit(X_train_final[ohe_columns])

OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [52]:
ohe.categories_

[array([0, 1], dtype=int64),
 array(['A23', 'B12', 'C86'], dtype=object),
 array(["Bachelor's", 'Doctorate', 'High School', "Master's", 'PhD'],
       dtype=object),
 array(['Divorced', 'Married', 'Single'], dtype=object),
 array(['Female', 'Male', 'Other'], dtype=object),
 array(['Employed', 'Self-Employed', 'Unemployed'], dtype=object)]

In [53]:
import numpy as np

merge_ohe_col = np.concatenate((
    ohe.categories_[0],
    ohe.categories_[1],
    ohe.categories_[2],
    ohe.categories_[3],
    ohe.categories_[4],
    ohe.categories_[5]
))

In [54]:
print(X_train_final.shape, X_test_final.shape)

(81237, 32) (34821, 32)

In [55]:
X_train_final.isnull().sum().sum()

0

In [56]:
ohe_data_train = pd.DataFrame(
    ohe.transform(X_train_final[ohe_columns]),
    columns=ohe.get_feature_names_out(ohe_columns),
    index=X_train_final.index
)

ohe_data_test = pd.DataFrame(
    ohe.transform(X_test_final[ohe_columns]),
    columns=ohe.get_feature_names_out(ohe_columns),
    index=X_test_final.index
)

In [57]:
X_train_final.head()

   Age  Annual Income EducationLevel EmploymentStatus  Gender  Loan_term MaritalStatus  NumberOfDependents  borrower_credit_score  co-borrower_credit_score  debt_to_income_ratio  insurance_percent  insurance_type  interest_rate loan_purpose  loan_to_value  m1  m1_delay  m2  m2_delay   m3  m3_delay   m4  m4_delay   m5  m5_delay   m6  m6_delay   m7  m7_delay  number_of_borrowers  unpaid_principal_bal
0   34    9565.217391     Bachelor's         Employed    Male         12       Married                   1                    795                         0                    23                  0               0          3.750          A23             74   0      12.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    1                220000
1   45   22555.555560      Doctorate         Employed  Female         36       Married                   1                    766                       800                    18                  0               0          3.750          A23             56   0      14.0   1      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    2                406000
2   37    7307.692308            PhD         Employed    Male         18        Single                   2                    791                       798                    39                  0               0          4.375          C86             75   0       5.0   1      -1.0  1.0      -1.0  0.0      20.0  0.0      14.0  1.0      -1.0  1.0      -1.0                    2                285000
3   55    4733.333333       Master's    Self-Employed  Female          6       Married                   0                    683                         0                    30                  0               0          4.500          A23             52   0       8.0   0      14.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    1                142000
4   18   14740.740740            PhD         Employed  Female         12       Married                   1                    803                         0                    27                  0               0          4.125          A23             40   1      -1.0   0      15.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0 -1.0      -1.0                    1                398000

In [58]:
# Reset index to avoid misalignment issues
X_train_final = X_train_final.reset_index(drop=True)
X_test_final = X_test_final.reset_index(drop=True)
ohe_data_train = ohe_data_train.reset_index(drop=True)
ohe_data_test = ohe_data_test.reset_index(drop=True)

# Concatenate and drop original categorical columns
X_new_train = pd.concat([X_train_final, ohe_data_train], axis=1).drop(ohe_columns, axis=1)
X_new_test = pd.concat([X_test_final, ohe_data_test], axis=1).drop(ohe_columns, axis=1)

Scaling

In [59]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

# Columns to scale
scale_cols = [
    'interest_rate',
    'unpaid_principal_bal',
    'Loan_term',
    'loan_to_value',
    'number_of_borrowers',
    'debt_to_income_ratio',
    'borrower_credit_score',
    'insurance_percent',
    'co-borrower_credit_score',
    'NumberOfDependents',
    'Annual Income',
    'Age'
]


scaler_normal = StandardScaler()
scaler_uniform = MinMaxScaler()    
scaler_bimodal = RobustScaler()  

X_new_train.loc[:, scale_cols] = scaler_normal.fit_transform(X_new_train.loc[:, scale_cols])
X_new_test.loc[:, scale_cols] = scaler_normal.transform(X_new_test.loc[:, scale_cols])

In [60]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from catboost import CatBoostClassifier
import lightgbm as lgb
from lightgbm import LGBMRegressor
from sklearn.metrics import make_scorer, mean_absolute_error
from sklearn.metrics import mean_squared_error as MSE
from hyperopt import hp, fmin, tpe
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from bayes_opt import BayesianOptimization
from sklearn.model_selection import KFold, cross_val_score
from lightgbm import LGBMClassifier

In [61]:
svc = SVC()
knc = KNeighborsClassifier() 
mnb = MultinomialNB()
dtc = DecisionTreeClassifier()
lrc = LogisticRegression()
rfc = RandomForestClassifier()
abc = AdaBoostClassifier()
bc = BaggingClassifier()
etc = ExtraTreesClassifier()
gbdt = GradientBoostingClassifier()
xgb = XGBClassifier()
cat = CatBoostClassifier(verbose=0) 
lgb = lgb.LGBMClassifier()

In [62]:
clf = {
    'rfc':rfc
}

In [63]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, confusion_matrix

def train_classifier(clf, X_train, y_train, X_test, y_test, average='binary'):
    """
    Trains and evaluates a classifier.
    Returns accuracy, precision, recall, and specificity (for binary classification).
    """
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average=average, zero_division=0)
    recall = recall_score(y_test, y_pred, average=average, zero_division=0)
   
    if len(set(y_test)) == 2:
        tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
        specificity = tn / (tn + fp) if (tn + fp) > 0 else 0.0
    else:
        specificity = None  
    
    return accuracy, precision, recall, specificity

In [64]:
print("X_new_train shape:", X_new_train.shape)
print("y_train shape:", y_train.shape)

X_new_train shape: (81237, 45)
y_train shape: (10077,)

In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# --- 1. Define your column lists ---
ohe_columns = [
    'insurance_type',
    'loan_purpose',
    'EducationLevel',
    'MaritalStatus',
    'Gender',
    'EmploymentStatus'
]
scale_cols = [
    'interest_rate',
    'unpaid_principal_bal',
    'Loan_term',
    'loan_to_value',
    'number_of_borrowers',
    'debt_to_income_ratio',
    'borrower_credit_score',
    'insurance_percent',
    'co-borrower_credit_score',
    'NumberOfDependents',
    'Annual Income',
    'Age'
]

In [66]:

#Per-month splitting and concatenation ---
all_X_train, all_X_test, all_y_train, all_y_test = [], [], [], []

for month in sorted(df['current_month'].unique()):
    df_month = df[df['current_month'] == month]
    X, y, _ = get_X_y_for_month(df_month, current_month=month)

    try:
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.3, random_state=12, stratify=y
        )
    except ValueError:
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.3, random_state=12
        )
    all_X_train.append(X_train)
    all_X_test.append(X_test)
    all_y_train.append(y_train)
    all_y_test.append(y_test)

In [67]:
X_train_final = pd.concat(all_X_train, ignore_index=True)
X_test_final = pd.concat(all_X_test, ignore_index=True)
y_train_final = pd.concat(all_y_train, ignore_index=True)
y_test_final = pd.concat(all_y_test, ignore_index=True)

In [68]:
# One-hot encoding ---
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
ohe.fit(X_train_final[ohe_columns])

ohe_data_train = pd.DataFrame(
    ohe.transform(X_train_final[ohe_columns]),
    columns=ohe.get_feature_names_out(ohe_columns),
    index=X_train_final.index
)
ohe_data_test = pd.DataFrame(
    ohe.transform(X_test_final[ohe_columns]),
    columns=ohe.get_feature_names_out(ohe_columns),
    index=X_test_final.index
)

In [69]:

#Combine OHE with numeric features and drop original categorical columns ---
X_train_final = X_train_final.reset_index(drop=True)
X_test_final = X_test_final.reset_index(drop=True)
ohe_data_train = ohe_data_train.reset_index(drop=True)
ohe_data_test = ohe_data_test.reset_index(drop=True)

X_new_train = pd.concat([X_train_final, ohe_data_train], axis=1).drop(ohe_columns, axis=1)
X_new_test = pd.concat([X_test_final, ohe_data_test], axis=1).drop(ohe_columns, axis=1)

In [70]:
#Scaling numeric features ---
scaler = StandardScaler()
X_new_train[scale_cols] = scaler.fit_transform(X_new_train[scale_cols])
X_new_test[scale_cols] = scaler.transform(X_new_test[scale_cols])

In [71]:
# Reset indices for y
y_train_final = y_train_final.reset_index(drop=True)
y_test_final = y_test_final.reset_index(drop=True)

# --- 7. Final shape check ---
print("X_new_train shape:", X_new_train.shape)
print("y_train_final shape:", y_train_final.shape)
print("X_new_test shape:", X_new_test.shape)
print("y_test_final shape:", y_test_final.shape)

X_new_train shape: (81237, 45)
y_train_final shape: (81237,)
X_new_test shape: (34821, 45)
y_test_final shape: (34821,)

In [72]:
#  Model training
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

clf = RandomForestClassifier(random_state=42)
clf.fit(X_new_train, y_train_final)
y_pred = clf.predict(X_new_test)

print("Accuracy:", accuracy_score(y_test_final, y_pred))
print("Precision:", precision_score(y_test_final, y_pred, average='binary', zero_division=0))
print("Recall:", recall_score(y_test_final, y_pred, average='binary', zero_division=0))

Accuracy: 0.7427701674277016
Precision: 0.7511766208179795
Recall: 0.9059667341371117

In [73]:
X_new_train.isnull().sum().sum()

0

In [74]:
X_train_final.isnull().sum().sort_values(ascending=False).head(20)

interest_rate           0
unpaid_principal_bal    0
m6_delay                0
m5_delay                0
m4_delay                0
m3_delay                0
m2_delay                0
m1_delay                0
m7                      0
m6                      0
m5                      0
m4                      0
m3                      0
m2                      0
m1                      0
Annual Income           0
NumberOfDependents      0
EmploymentStatus        0
Gender                  0
Age                     0
dtype: int64

In [75]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report

# Calculate metrics
accuracy = accuracy_score(y_test_final, y_pred)
precision = precision_score(y_test_final, y_pred)
recall = recall_score(y_test_final, y_pred)

# Specificity calculation
cm = confusion_matrix(y_test_final, y_pred)
tn, fp, fn, tp = cm.ravel()
specificity = tn / (tn + fp) if (tn + fp) > 0 else 0.0

# Print metrics
print(f"Accuracy     : {accuracy:.4f}")
print(f"Precision    : {precision:.4f}")
print(f"Recall       : {recall:.4f}")
print(f"Specificity  : {specificity:.4f}\n")

# Print classification report
print("Classification Report:")
print(classification_report(y_test_final, y_pred, digits=4))

Accuracy     : 0.7428
Precision    : 0.7512
Recall       : 0.9060
Specificity  : 0.4361

Classification Report:
              precision    recall  f1-score   support

         0.0     0.7117    0.4361    0.5408     12095
         1.0     0.7512    0.9060    0.8213     22726

    accuracy                         0.7428     34821
   macro avg     0.7314    0.6710    0.6811     34821
weighted avg     0.7375    0.7428    0.7239     34821

In [76]:
import xgboost as xgb
from sklearn.metrics import classification_report, confusion_matrix

xgb_clf = xgb.XGBClassifier(
    objective='binary:logistic',
    random_state=42,
    use_label_encoder=False,
    eval_metric='logloss'
)
xgb_clf.fit(X_new_train, y_train_final)
y_pred_xgb = xgb_clf.predict(X_new_test)

print("XGBoost Classification Report:")
print(classification_report(y_test_final, y_pred_xgb, digits=4))
print("XGBoost Confusion Matrix:")
print(confusion_matrix(y_test_final, y_pred_xgb))

XGBoost Classification Report:
              precision    recall  f1-score   support

         0.0     0.7098    0.4437    0.5461     12095
         1.0     0.7532    0.9035    0.8215     22726

    accuracy                         0.7438     34821
   macro avg     0.7315    0.6736    0.6838     34821
weighted avg     0.7381    0.7438    0.7258     34821

XGBoost Confusion Matrix:
[[ 5367  6728]
 [ 2194 20532]]

In [77]:
from catboost import CatBoostClassifier

cat_clf = CatBoostClassifier(verbose=0, random_state=42)
cat_clf.fit(X_new_train, y_train_final)
y_pred_cat = cat_clf.predict(X_new_test)

print("CatBoost Classification Report:")
print(classification_report(y_test_final, y_pred_cat, digits=4))
print("CatBoost Confusion Matrix:")
print(confusion_matrix(y_test_final, y_pred_cat))

CatBoost Classification Report:
              precision    recall  f1-score   support

         0.0     0.7343    0.4327    0.5446     12095
         1.0     0.7522    0.9167    0.8264     22726

    accuracy                         0.7486     34821
   macro avg     0.7433    0.6747    0.6855     34821
weighted avg     0.7460    0.7486    0.7285     34821

CatBoost Confusion Matrix:
[[ 5234  6861]
 [ 1894 20832]]

In [78]:
import lightgbm as lgb

lgb_clf = lgb.LGBMClassifier(random_state=42)
lgb_clf.fit(X_new_train, y_train_final)
y_pred_lgb = lgb_clf.predict(X_new_test)

print("LightGBM Classification Report:")
print(classification_report(y_test_final, y_pred_lgb, digits=4))
print("LightGBM Confusion Matrix:")
print(confusion_matrix(y_test_final, y_pred_lgb))

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 53018, number of negative: 28219
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.008837 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1478
[LightGBM] [Info] Number of data points in the train set: 81237, number of used features: 45
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.652634 -> initscore=0.630636
[LightGBM] [Info] Start training from score 0.630636
LightGBM Classification Report:
              precision    recall  f1-score   support

         0.0     0.7478    0.4227    0.5401     12095
         1.0     0.7505    0.9241    0.8283     22726

    accuracy                         0.7500     34821
   macro avg     0.7492    0.6734    0.6842     34821
weighted avg     0.7496    0.7500    0.7282     34821

LightGBM Confusion Matrix:
[[ 5113  6982]
 [ 1724 21002]]

In [79]:
print(X_new_train.shape)
print(y_train.shape)

(81237, 45)
(10077,)

In [80]:
X_train_final.isnull().sum().sum()

0

In [ ]:
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier
from sklearn.metrics import classification_report, confusion_matrix

# AdaBoost
abc = AdaBoostClassifier(random_state=42)
abc.fit(X_new_train, y_train_final)
y_pred_abc = abc.predict(X_new_test)

print("AdaBoost Classification Report:")
print(classification_report(y_test_final, y_pred_abc, digits=4))
print("AdaBoost Confusion Matrix:")
print(confusion_matrix(y_test_final, y_pred_abc))

# Bagging
bc = BaggingClassifier(random_state=42)
bc.fit(X_new_train, y_train_final)
y_pred_bc = bc.predict(X_new_test)

print("\nBagging Classification Report:")
print(classification_report(y_test_final, y_pred_bc, digits=4))
print("Bagging Confusion Matrix:")
print(confusion_matrix(y_test_final, y_pred_bc))

AdaBoost Classification Report:
              precision    recall  f1-score   support

         0.0     0.6175    0.3676    0.4608     12095
         1.0     0.7231    0.8788    0.7934     22726

    accuracy                         0.7012     34821
   macro avg     0.6703    0.6232    0.6271     34821
weighted avg     0.6864    0.7012    0.6779     34821

AdaBoost Confusion Matrix:
[[ 4446  7649]
 [ 2754 19972]]

Bagging Classification Report:
              precision    recall  f1-score   support

         0.0     0.5815    0.5575    0.5692     12095
         1.0     0.7696    0.7865    0.7779     22726

    accuracy                         0.7069     34821
   macro avg     0.6755    0.6720    0.6736     34821
weighted avg     0.7042    0.7069    0.7054     34821

Bagging Confusion Matrix:
[[ 6743  5352]
 [ 4853 17873]]

In [82]:
X_new_train.isnull().sum().sum()

0

In [83]:
!pip install tabpfn

Requirement already satisfied: tabpfn in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (2.0.9)
Requirement already satisfied: torch<3,>=2.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (2.6.0)
Requirement already satisfied: scikit-learn<1.7,>=1.2.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (1.6.1)
Requirement already satisfied: typing_extensions>=4.4.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (4.12.2)
Requirement already satisfied: scipy<2,>=1.11.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (1.15.2)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (2.2.3)
Requirement already satisfied: einops<0.9,>=0.2.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (0.8.1)
Requirement already satisfied: huggingface-hub<1,>=0.0.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabpfn) (0.29.2)
Requirement already satisfied: filelock in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub<1,>=0.0.1->tabpfn) (3.17.0)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub<1,>=0.0.1->tabpfn) (2025.2.0)
Requirement already satisfied: packaging>=20.9 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub<1,>=0.0.1->tabpfn) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub<1,>=0.0.1->tabpfn) (6.0.2)
Requirement already satisfied: requests in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub<1,>=0.0.1->tabpfn) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub<1,>=0.0.1->tabpfn) (4.67.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from pandas<3,>=1.4.0->tabpfn) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from pandas<3,>=1.4.0->tabpfn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from pandas<3,>=1.4.0->tabpfn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from pandas<3,>=1.4.0->tabpfn) (2025.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from scikit-learn<1.7,>=1.2.0->tabpfn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from scikit-learn<1.7,>=1.2.0->tabpfn) (3.6.0)
Requirement already satisfied: networkx in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.1->tabpfn) (3.4.2)
Requirement already satisfied: jinja2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.1->tabpfn) (3.1.5)
Requirement already satisfied: setuptools in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.1->tabpfn) (75.8.0)
Requirement already satisfied: sympy==1.13.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.1->tabpfn) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from sympy==1.13.1->torch<3,>=2.1->tabpfn) (1.3.0)
Requirement already satisfied: six>=1.5 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->tabpfn) (1.17.0)
Requirement already satisfied: colorama in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tqdm>=4.42.1->huggingface-hub<1,>=0.0.1->tabpfn) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from jinja2->torch<3,>=2.1->tabpfn) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub<1,>=0.0.1->tabpfn) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub<1,>=0.0.1->tabpfn) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub<1,>=0.0.1->tabpfn) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub<1,>=0.0.1->tabpfn) (2025.1.31)

In [84]:
import os
os.environ["TABPFN_ALLOW_CPU_LARGE_DATASET"] = "1"

TabPfn + Random Forest

In [ ]:

from sklearn.ensemble import RandomForestClassifier
from tabpfn import TabPFNClassifier
import numpy as np
import torch
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

rf = RandomForestClassifier(
    n_estimators=1,
    max_depth=10,         
    min_samples_leaf=1000,  
    random_state=42
)
rf.fit(X_new_train, y_train)

In [ ]:
train_leaves = rf.apply(X_new_train)
test_leaves = rf.apply(X_new_test)

tabpfn_models = {}
unique_leaves = np.unique(train_leaves)

for leaf in unique_leaves:
    idx = np.where(train_leaves == leaf)[0]
    if len(idx) > 10000:
        idx = np.random.choice(idx, 10000, replace=False)
    X_leaf = X_new_train.iloc[idx]
    y_leaf = y_train.iloc[idx]
    clf = TabPFNClassifier(device='cuda' if torch.cuda.is_available() else 'cpu')
    clf.fit(X_leaf.values, y_leaf.values)
    tabpfn_models[leaf] = clf

In [ ]:
def predict_rf_tabpfn(X, leaves, tabpfn_models, rf):
    preds = []
    for i, leaf in enumerate(leaves):
        # Ensure hashable key for the dictionary
        if isinstance(leaf, np.ndarray):
            hashable_leaf = tuple(leaf.tolist())
        else:
            hashable_leaf = leaf
        model = tabpfn_models.get(hashable_leaf)
        if model:
            pred = model.predict(X.iloc[[i]])
            preds.append(pred[0])
        else:
            pred = rf.predict(X.iloc[[i]])
            preds.append(pred[0])
    return np.array(preds)

y_pred = predict_rf_tabpfn(X_new_test, test_leaves, tabpfn_models, rf)

In [ ]:
accuracy = accuracy_score(y_test_final, y_pred)
precision = precision_score(y_test_final, y_pred, zero_division=0)
recall = recall_score(y_test_final, y_pred, zero_division=0)
f1 = f1_score(y_test_final, y_pred, zero_division=0)

cm = confusion_matrix(y_test_final, y_pred)
tn, fp, fn, tp = cm.ravel()
specificity = tn / (tn + fp) if (tn + fp) > 0 else 0.0

print(f"Accuracy     : {accuracy:.4f}")
print(f"Precision    : {precision:.4f}")
print(f"Recall       : {recall:.4f}")
print(f"Specificity  : {specificity:.4f}")
print(f"F1 Score     : {f1:.4f}\n")

print("Classification Report:")
print(classification_report(y_test_final, y_pred, digits=4))

ValueError: Found input variables with inconsistent numbers of samples: [81237, 10077]

In [ ]:
print(X_new_train.shape)
print(y_train.shape)

(81237, 45)
(10276,)

TabPFN + Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from tabpfn import TabPFNClassifier
import numpy as np
import torch
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

y_train_final = y_train_final.reset_index(drop=True)
y_test_final = y_test_final.reset_index(drop=True)

rf = RandomForestClassifier(
    n_estimators=1,
    max_depth=10,          
    min_samples_leaf=500, 
    random_state=42
)
rf.fit(X_new_train, y_train_final)

In [ ]:
train_leaves = rf.apply(X_new_train)
test_leaves = rf.apply(X_new_test)

In [ ]:
tabpfn_models = {}
unique_leaves = np.unique(train_leaves)

for leaf in unique_leaves:
    idx = np.where(train_leaves == leaf)[0]
    if len(idx) > 10000:
        idx = np.random.choice(idx, 10000, replace=False)
    X_leaf = X_new_train.iloc[idx]
    y_leaf = y_train_final.iloc[idx]
    clf = TabPFNClassifier(device='cuda' if torch.cuda.is_available() else 'cpu')
    clf.fit(X_leaf.values, y_leaf.values)
    tabpfn_models[leaf] = clf

In [ ]:
def predict_rf_tabpfn(X, leaves, tabpfn_models, rf):
    preds = []
    for i, leaf in enumerate(leaves):
        if isinstance(leaf, np.ndarray):
            hashable_leaf = tuple(leaf.tolist())
        else:
            hashable_leaf = leaf
        model = tabpfn_models.get(hashable_leaf)
        if model:
            pred = model.predict(X.iloc[[i]])
            preds.append(pred[0])
        else:
            pred = rf.predict(X.iloc[[i]])
            preds.append(pred[0])
    return np.array(preds)

In [ ]:
y_pred = predict_rf_tabpfn(X_new_test, test_leaves, tabpfn_models, rf)

accuracy = accuracy_score(y_test_final, y_pred)
precision = precision_score(y_test_final, y_pred, zero_division=0)
recall = recall_score(y_test_final, y_pred, zero_division=0)
f1 = f1_score(y_test_final, y_pred, zero_division=0)

cm = confusion_matrix(y_test_final, y_pred)
tn, fp, fn, tp = cm.ravel()
specificity = tn / (tn + fp) if (tn + fp) > 0 else 0.0

print(f"Accuracy     : {accuracy:.4f}")
print(f"Precision    : {precision:.4f}")
print(f"Recall       : {recall:.4f}")
print(f"Specificity  : {specificity:.4f}")
print(f"F1 Score     : {f1:.4f}\n")

print("Classification Report:")
print(classification_report(y_test_final, y_pred, digits=4))

Accuracy     : 0.6804
Precision    : 0.6937
Recall       : 0.9123
Specificity  : 0.2467
F1 Score     : 0.7882

Classification Report:
              precision    recall  f1-score   support

         0.0     0.6006    0.2467    0.3498     12131
         1.0     0.6937    0.9123    0.7882     22690

    accuracy                         0.6804     34821
   macro avg     0.6472    0.5795    0.5690     34821
weighted avg     0.6613    0.6804    0.6354     34821

In [ ]:
!pip install tabicl

Collecting tabicl
  Downloading tabicl-0.1.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: einops>=0.7 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (0.8.1)
Requirement already satisfied: huggingface-hub in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (0.29.2)
Requirement already satisfied: joblib in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (1.4.2)
Requirement already satisfied: numpy in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (1.26.4)
Requirement already satisfied: psutil in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (5.9.0)
Requirement already satisfied: scikit-learn<1.7,>=1.3.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (1.6.1)
Requirement already satisfied: scipy in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (1.15.2)
Requirement already satisfied: torch<3,>=2.2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (2.6.0)
Requirement already satisfied: tqdm>=4.64.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (4.67.1)
Requirement already satisfied: transformers in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (4.50.0)
Collecting wandb (from tabicl)
  Downloading wandb-0.20.1-py3-none-win_amd64.whl.metadata (10 kB)
Requirement already satisfied: xgboost in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tabicl) (3.0.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from scikit-learn<1.7,>=1.3.0->tabicl) (3.6.0)
Requirement already satisfied: filelock in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (3.17.0)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (4.12.2)
Requirement already satisfied: networkx in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (3.4.2)
Requirement already satisfied: jinja2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (3.1.5)
Requirement already satisfied: fsspec in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (2025.2.0)
Requirement already satisfied: setuptools in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (75.8.0)
Requirement already satisfied: sympy==1.13.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from torch<3,>=2.2->tabicl) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from sympy==1.13.1->torch<3,>=2.2->tabicl) (1.3.0)
Requirement already satisfied: colorama in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from tqdm>=4.64.0->tabicl) (0.4.6)
Requirement already satisfied: packaging>=20.9 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub->tabicl) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub->tabicl) (6.0.2)
Requirement already satisfied: requests in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from huggingface-hub->tabicl) (2.32.3)
Requirement already satisfied: regex!=2019.12.17 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from transformers->tabicl) (2024.11.6)
Requirement already satisfied: tokenizers<0.22,>=0.21 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from transformers->tabicl) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from transformers->tabicl) (0.5.3)
Requirement already satisfied: click!=8.0.0,>=7.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from wandb->tabicl) (8.1.8)
Requirement already satisfied: gitpython!=3.1.29,>=1.0.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from wandb->tabicl) (3.1.44)
Requirement already satisfied: platformdirs in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from wandb->tabicl) (4.3.7)
Requirement already satisfied: protobuf!=4.21.0,!=5.28.0,<7,>=3.19.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from wandb->tabicl) (4.25.6)
Requirement already satisfied: pydantic<3 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from wandb->tabicl) (2.10.6)
Collecting sentry-sdk>=2.0.0 (from wandb->tabicl)
  Downloading sentry_sdk-2.30.0-py2.py3-none-any.whl.metadata (10 kB)
Collecting setproctitle (from wandb->tabicl)
  Downloading setproctitle-1.3.6-cp312-cp312-win_amd64.whl.metadata (10 kB)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from gitpython!=3.1.29,>=1.0.0->wandb->tabicl) (4.0.12)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from pydantic<3->wandb->tabicl) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from pydantic<3->wandb->tabicl) (2.27.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub->tabicl) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub->tabicl) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub->tabicl) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from requests->huggingface-hub->tabicl) (2025.1.31)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from jinja2->torch<3,>=2.2->tabicl) (2.1.5)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\kusha\anaconda3\envs\myenv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.29,>=1.0.0->wandb->tabicl) (5.0.2)
Downloading tabicl-0.1.2-py3-none-any.whl (103 kB)
Downloading wandb-0.20.1-py3-none-win_amd64.whl (22.5 MB)
   ---------------------------------------- 0.0/22.5 MB ? eta -:--:--
   --------- ------------------------------ 5.2/22.5 MB 24.5 MB/s eta 0:00:01
   ------------------- -------------------- 11.0/22.5 MB 26.5 MB/s eta 0:00:01
   ------------------------------- -------- 17.6/22.5 MB 27.7 MB/s eta 0:00:01
   ---------------------------------------- 22.5/22.5 MB 26.9 MB/s eta 0:00:00
Downloading sentry_sdk-2.30.0-py2.py3-none-any.whl (343 kB)
Downloading setproctitle-1.3.6-cp312-cp312-win_amd64.whl (12 kB)
Installing collected packages: setproctitle, sentry-sdk, wandb, tabicl
Successfully installed sentry-sdk-2.30.0 setproctitle-1.3.6 tabicl-0.1.2 wandb-0.20.1

TabICL

In [ ]:
import numpy as np
import pandas as pd
from tabicl import TabICLClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

y_train_final = y_train_final.reset_index(drop=True)
y_test_final = y_test_final.reset_index(drop=True)
clf = TabICLClassifier(
    checkpoint_version='tabicl-classifier-v1.1-0506.ckpt'
)
clf.fit(X_new_train, y_train_final)

y_pred = clf.predict(X_new_test)

In [ ]:
accuracy = accuracy_score(y_test_final, y_pred)
precision = precision_score(y_test_final, y_pred, zero_division=0)
recall = recall_score(y_test_final, y_pred, zero_division=0)
f1 = f1_score(y_test_final, y_pred, zero_division=0)

cm = confusion_matrix(y_test_final, y_pred)
tn, fp, fn, tp = cm.ravel()
specificity = tn / (tn + fp) if (tn + fp) > 0 else 0.0

print(f"Accuracy     : {accuracy:.4f}")
print(f"Precision    : {precision:.4f}")
print(f"Recall       : {recall:.4f}")
print(f"Specificity  : {specificity:.4f}")
print(f"F1 Score     : {f1:.4f}\n")

print("Classification Report:")
print(classification_report(y_test_final, y_pred, digits=4))

INFO: You are downloading 'tabicl-classifier-v1.1-0506.ckpt', the latest best-performing version of TabICL.
To reproduce results from the original paper, please use 'tabicl-classifier-v1-0208.ckpt'.

Checkpoint 'tabicl-classifier-v1.1-0506.ckpt' not cached.
 Downloading from Hugging Face Hub (jingang/TabICL-clf).

RuntimeError: [enforce fail at alloc_cpu.cpp:115] data. DefaultCPUAllocator: not enough memory: you tried to allocate 5347952640 bytes.

TabICL

In [ ]:
import numpy as np
import pandas as pd
from tabicl import TabICLClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

y_train_final = y_train_final.reset_index(drop=True)
y_test_final = y_test_final.reset_index(drop=True)

clf = TabICLClassifier(
    checkpoint_version='tabicl-classifier-v1.1-0506.ckpt'
)
clf.fit(X_new_train, y_train_final)

y_pred = clf.predict(X_new_test)

In [ ]:
accuracy = accuracy_score(y_test_final, y_pred)
precision = precision_score(y_test_final, y_pred, zero_division=0)
recall = recall_score(y_test_final, y_pred, zero_division=0)
f1 = f1_score(y_test_final, y_pred, zero_division=0)

cm = confusion_matrix(y_test_final, y_pred)
tn, fp, fn, tp = cm.ravel()
specificity = tn / (tn + fp) if (tn + fp) > 0 else 0.0

print(f"Accuracy     : {accuracy:.4f}")
print(f"Precision    : {precision:.4f}")
print(f"Recall       : {recall:.4f}")
print(f"Specificity  : {specificity:.4f}")
print(f"F1 Score     : {f1:.4f}\n")

print("Classification Report:")
print(classification_report(y_test_final, y_pred, digits=4))